.faq{
    position: relative;
    padding: 60px 0;

    .faq-container{
        width: 100%;
        max-width: 1000px;
        margin: auto;

        .faq-questions{
            position: relative;
            
            .categories{
                display: flex;
                margin-bottom: 40px;
                justify-content:center;
                flex-wrap: wrap;

                .single-category{
                    display: flex;
                    min-height: 50px;
                    margin: 0px 15px;
                    padding: 0px 45px;
                    justify-content:center;
                    align-items: center;
                    border: 1px solid rgb(210, 201, 201);
                    border-radius:8px;
                    cursor: pointer;
                    font-size: 16px;
                }

                .current{
                    background-color:#2fb9c0;
                    color:#fff;
                    background-image: url('../../../public/images/Button-Wave.svg');
                    background-repeat: no-repeat;
                }
            }

            .wrapper{
                display: flex;
                height: 100%;
                width: 100%;
                justify-content:center;
                align-items: center;

                .accordian{
                    width: 1000px;

                    .item{                  
                        .title{
                            color:#2fb9c0;
                            font-size: 19px;
                            font-weight: 300;
                            display:flex;
                            justify-content:space-between;
                            align-items:center;
                            cursor: pointer;
                            margin-bottom: 20px;
                            padding: 40px 15px 40px 0px;
                            border-bottom: 1px solid #f0f0f6;
                            
                            .plus-box{
                                border:2.4px solid #a8a7bc;
                                border-radius: 50%;

                                .plus{
                                    color:#a8a7bc;
                                    font-size:20px;
                                    font-weight:600;
                                    padding: 0px 4px;
                                }

                                .rotation{
                                    transition: all 0.5s ease-in-out;
                                }
                            }
                            

                        }

                        .faq-content{
                            color:#5c5b76;
                            font-size: 18px;
                            line-height: 1.5;
                            max-height: 0;
                            overflow: hidden;
                            transition: all 0.5s cubic-bezier(0,1,0,1);
                        }

                        .show{
                            color:#5c5b76;
                            font-size: 18px;
                            line-height: 1.5;
                            height:auto;
                            max-height: 999px;
                            transition: all 0.5s cubic-bezier(1,0.9,1,0.9);
                        }
                    }
                }
            }
            
        }
    }
}
