.supportSection{
    padding:45px;

    .support-container{
        min-height: 630px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        @media screen and (min-width: 769px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.9rem;

        }
        .support-img{
            display: flex;
            align-items: center;
            img{
                width: 100%;
            }
        }

       .support-content{
           display: flex;
           flex-direction: column;
           justify-content:center;
           align-items:flex-start;
           padding: 1.25em 3em;
           background-color: var(--primary);
           background-image: url('../../../public/images/Pattern.svg');
           background-size: contain;
           background-repeat: no-repeat;

          .support-heading{
              color: var(--white);
              font-size: var(--fs-2xl);
              line-height: 1.2;
              margin-top: 20px;
              margin-bottom:10px;
              font-weight: 700;
              word-break: break-word;

              .dim-heading{
                  margin-right: 0.25em;
                  color: var(--primary7);
                  
              }
          }

          .support-button{
              margin-top: 42px;
              background-color: var(--white);
              color: var(--primary);;
              padding: 20px 35px;
              font-size:18px;
              text-align: center;
              border-radius:6px;
          }
       }
    }

}