.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
    background-image: url("../../../../public/images/BG-Shape.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;

    .content-container{
        display: flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        max-width:1200px;

        @media screen and (min-width: 769px){
            display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.9rem;

        }
        .content-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:flex-start;
            width: 50%;
            padding-right: 1.1rem;

            .text-h1{
                max-width:500px;
                margin-bottom: 20px;
                color: var(--black);
                font-size: 60px;
                line-height: 1;
                margin-top: 20px;
                letter-spacing: -2px;

                h1{
                    margin-top:10px;
                    font-weight: 700;
                }

                .primary-text{
                    color:var(--primary);
                    margin-left: 15px;
                }
            }

            .text-p{
                color: var(--text-light);
                font-size:19px;
                line-height: 1.3;
                font-weight: 400;

                p{
                    margin-bottom: 10px;
                    margin-top: 0;
                    letter-spacing: -1.5px;
                }
            }

            .btn-container{
                display: flex;
                flex-direction: column;
                margin-top: 45px;
                align-items: center;

                .btn{
                    padding:20px 35px;
                    border-radius: 6px;
                    background-color: var(--primary);
                    background-image: url(../../../../public/images/Button-Wave.svg);
                    background-repeat: no-repeat;
                    font-size: 19px;
                    text-align: center;
                    color: var(--white);
                }
            }

            .feedbacks{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                margin-top:35px;

                .feedback-img{
                    max-width: 110px;
                    margin-right: 16px;
                    margin-bottom: 10px;
                }

                .feedback-text{
                    color: var(--black);
                    font-size:16px;
                    letter-spacing: 1px;

                    .primary-text{
                        color: var(--primary);
                        margin-right: 5px;
                    }
                }
            }

        }

        .content-img{
            display: flex;
            align-items:center;
            padding-top: 0.7rem;
            width:100% ;
        }
    }
}

.second-content{
    background-image: url("../../../../public/images/BG-Shape-Content.svg");

    .content-text {
        width: 1200px;
        .text-h2{
            max-width:550px;
            margin-bottom: 20px;
            color: var(--primary);
            font-size: 58px;
            line-height: 1;
            margin-top: 20px;
            letter-spacing: -2px;
        }
    }
}