.row {
    justify-content: space-between;
  }
  .container {
    max-width: 120rem;
    padding: 0 3rem;
    margin: auto;
    display: flex;
  }
  
  @media (min-width: 1500px) {
    .container {
      max-width: 135rem;
    }
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
  }
  @media (max-width: 800px) {
   
  
      .row {
        grid-template-columns: 1fr;
        gap: 3rem 0;
        max-width: 50%;
  
        .container {
          max-width: 100%;
        
    }
    }
    }
// ========== Services =========== */
section {
    padding: 5rem 0 5rem;
    overflow: hidden;
  }
.services {
  padding: 10rem 0 10rem;

  
    .services .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 3rem;
        align-items: center;
    

    h2 {
      font-size: 4.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 2.5rem;
      margin-top: 1.5rem;
      text-align: left;
    }

    .col img {
      height: 15rem;
    }

    .card {
      padding: 3rem;
      border-radius: 0 0 1rem 1rem;
      background-color: var(--white-color);
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: -1.5%;
        left: -1.5%;
        width: calc(100% + 1rem);
        height: calc(100% + 1rem);
        border-radius: 1rem;
        background: linear-gradient(to bottom, transparent 50%, #f3f3f3);
        z-index: -1;
      }

      &:hover::before {
        background: linear-gradient(to bottom, transparent 50%, #ffcf03);
      }
    }
  }
}

@media (max-width: 567px) {
  .services .row h2 {
    font-size: 3.5rem;
  }
}
